* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ivory: #E6E6FA;
    --jet-black: #0A0A0A;
    --grey: #717999;
}

.loading-container {
    background-color: var(--jet-black);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: var(--ivory);
    font-family: 'Noto Sans Mono';
    font-size: 5rem;
    font-weight: 600;
}