* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ivory: #E6E6FA;
    --jet-black: #0A0A0A;
    --grey: #717999;
}

.loading-container {
    position: absolute;
    background-color: var(--jet-black);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.jittery-text {
    color: var(--ivory);
    font-family: 'Noto Sans Mono';
    font-size: 5rem;
    font-weight: 600;
}

@media (max-width: 725px) {
    .jittery-text {
        font-size: 3.5rem;
    }
}

@media (max-width: 520px) {
    .jittery-text {
        font-size: 2.5rem;
    }
}
